#box{
    border: 10px solid;
    width: 300px;
    padding: 50px;
    color: darkgreen;
}
body{
    background-color: gray;
}
ul{
    color: white;
    background-color: blue;
}
ol{
    color:white;
    background-color:rgb(9, 230, 9);
}
dl{
    color: white;
}